body{
    background-color: #ff9999;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
   
}
h1{
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 50px;
}
hr {
    border-color: grey;
    border-style: dotted none none;
    border-width: 5px;
    width: 9%;
  }
  span{
      background-color:  #ff3333;
  }